<div class="card">
  <div class="card-details">
    <p>Últimas atualizações</p>
    <span>ver mais</span>
  </div>
  <div class="card-list">
    <div class="container">
      <!-- THUMBNAIL DO VÍDEO SELECIONADO -->
      <div class="card-photo">
        <img
          [src]="selectedVideo?.thumbnail || 'assets/logo.jpg'"
          alt="thumb"
        />
      </div>

      <!-- LISTA DOS HINOS -->
      <div class="card-info">
        <div
          class="card-article"
          *ngFor="let video of videos"
          [class.atived]="selectedVideo && video.videoId === selectedVideo.videoId"
          (click)="selectVideo(video)"
        >
          <h1>
            <a>
              {{
                video.title.includes("|")
                  ? video.title.split("|")[1].trim()
                  : video.title
              }}
            </a>
          </h1>
          <span>
            {{
              video.title.includes("|")
                ? video.title.split("|")[0].trim()
                : "Desconhecido"
            }}
          </span>
        </div>
      </div>
    </div>
    <app-card-play [selectedVideo]="selectedVideo" (videoSelected)="onVideoSelected($event)"></app-card-play>
  </div>
</div>

<!-- card-play.component.html -->
<div class="yt-container-hidden">
  <div id="ytplayer"></div>
</div>


