<div class="card">
  <div class="card-details">
    <p>Ultimas atualizações</p>
    <span>ver mais</span>
  </div>
  <div class="card-list">
    <div class="container">
      <div class="card-photo">
        <img src="assets/logo.jpg" alt="" srcset="" />
      </div>
      <div class="card-info">
        <div class="card-article">
          <h1><a>A tua palavra</a></h1>
          <span>Larissa Pires</span>
        </div>
        <div class="card-article atived">
          <h1>
            <a> Thalles Roberto - Eu Escolho Deus (Saudade - Clipe Oficial)</a>
          </h1>
          <span>Thalles Roberto </span>
        </div>
        <div class="card-article">
          <h1><a>A tua palavra</a></h1>
          <span>Larissa Pires</span>
        </div>
        <div class="card-article">
          <h1>
            <a> Thalles Roberto - Eu Escolho Deus (Saudade - Clipe Oficial)</a>
          </h1>
          <span>Thalles Roberto </span>
        </div>
      </div>
    </div>
    <app-card-play></app-card-play>
  </div>
</div>
