<div class="card">
  <div class="card-details">
    <p>Artigos mais vistos</p>
    <span>ver mais</span>
  </div>
  <div class="card-list">
    <div class="container">
      <div class="card-photo">
        <img [src]="'assets/logo.jpg'" alt="thumb" />
      </div>

      <!-- LISTA DOS HINOS -->
      <div class="card-info">
        <div class="card-details-author">
          <img src="assets/logo.jpg" alt="" />
          <div>
            <span> Autor do cristianismo</span>
            <span> 04/07/25 às 13:54 | Atualizado 04/07/25 às 13:54 </span>
          </div>
        </div>
        <div class="card-article">
          <h1>
            <a> cristianismo </a>
          </h1>
          <span>
            Como o cristianismo impacta positivamente na vida das pessoas
          </span>
        </div>
      </div>
    </div>
  </div>

   <div class="card-list">
    <div class="container">
      <div class="card-photo">
        <img [src]="'assets/logo.jpg'" alt="thumb" />
      </div>

      <!-- LISTA DOS HINOS -->
      <div class="card-info">
        <div class="card-details-author">
          <img src="assets/logo.jpg" alt="" />
          <div>
            <span> Autor do cristianismo</span>
            <span> 04/07/25 às 13:54 | 2 min de leitura</span>
          </div>
        </div>
        <div class="card-article">
          <h1>
            <a> cristianismo </a>
          </h1>
          <span>
            Como o cristianismo impacta positivamente na vida das pessoas
          </span>
        </div>
      </div>
    </div>
  </div>

    <div class="card-list">
    <div class="container">
      <div class="card-photo">
        <img [src]="'assets/logo.jpg'" alt="thumb" />
      </div>

      <!-- LISTA DOS HINOS -->
      <div class="card-info">
        <div class="card-details-author">
          <img src="assets/logo.jpg" alt="" />
          <div>
            <span> Autor do cristianismo</span>
            <span> 04/07/25 às 13:54 | 5 min de leitura</span>
          </div>
        </div>
        <div class="card-article">
          <h1>
            <a> cristianismo </a>
          </h1>
          <span>
            Como o cristianismo impacta positivamente na vida das pessoas
          </span>
        </div>
      </div>
    </div>
  </div>

    <div class="card-list">
    <div class="container">
      <div class="card-photo">
        <img [src]="'assets/logo.jpg'" alt="thumb" />
      </div>

      <!-- LISTA DOS HINOS -->
      <div class="card-info">
        <div class="card-details-author">
          <img src="assets/logo.jpg" alt="" />
          <div>
            <span> Autor do cristianismo</span>
            <span> 04/07/25 às 13:54 | 2 min de leitura</span>
          </div>
        </div>
        <div class="card-article">
          <h1>
            <a> cristianismo </a>
          </h1>
          <span>
            Como o cristianismo impacta positivamente na vida das pessoas
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
