.grid {
  height: 100vh;
  display: grid;
  background-color: var(--off-white);
  color: var(--almost-black);
  overflow: hidden;

  grid-template-columns: 6.3rem 1fr 35%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidenav nav nav"
    "sidenav content advert"
    "sidenav footer footer";
}

.nav {
  grid-area: nav;
  position: sticky;
  top: 0;
}

.content {
  grid-area: content;
  padding: 1rem; /* 10px */
  overflow-y: auto;

  /* Corrigido: esconder completamente o overflow */
  overflow: auto;
  overflow-anchor: none;
}

.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.sidenav {
  grid-area: sidenav;
}

.advert {
  grid-area: advert;
  margin: 2rem 4rem 2rem 0rem;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}

.nav,
.content,
.sidenav,
.advert,
.footer {
  box-sizing: border-box;
}
