.grid {
  display: grid;
  background-color: var(--off-white);
  color: var(--almost-black);
  gap: 5px;
}

.grid-template-areas {
  grid-template-columns: 3% 1fr 15%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer";
}

.logo {
  grid-area: logo;
  background-color: aqua;
}

.nav {
  grid-area: nav;
  background-color: aquamarine;
}

.content {
  grid-area: content;
  background-color: bisque;
}

.sidenav {
  grid-area: sidenav;
  background-color: cadetblue;
}

.advert {
  grid-area: advert;
  background-color: chocolate;
}

.footer {
  grid-area: footer;
  background-color: blueviolet;
}

.logo, .nav, .content, .sidenav, .advert, .footer {
  min-height: 50px;
  padding: 10px;
  box-sizing: border-box;
}
