<header class="header">
  <div class="header__search">
    <i class="fa fa-search"></i>
    <input type="text" placeholder="Pesquisar..." />
  </div>

  <div class="header__actions">
    <button class="icon-button write" title="Escrever">
      <i class="fa-solid fa-pen-to-square"></i>

      <span>Escrever</span>
    </button>
    <button class="icon-button notification" title="Notificações">
      <i class="fa fa-bell"></i>
    </button>
    <div class="avatar">
      <img src="assets/logo.jpg" alt="" />
    </div>
  </div>
</header>
