  <div class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="Logo"> <!-- Replace with your logo -->
    </div>
    <nav>
      <ul>
        <li><a href="#"><i class="fa fa-home"></i><span class="label">Home</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i><span class="label">About</span></a></li>
        <li class="submenu">
          <a href="#"><i class="fa fa-cogs"></i><span class="label">Services</span></a>
          <ul class="submenu-items">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Marketing</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-envelope"></i><span class="label">Contact</span></a></li>
      </ul>
    </nav>
  </div>
